/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}
.container {
text-align: center;
  background-color: #666;
  border-radius: 0px 0px 4px 4px;
  padding: 16px;
}

/* Clear floats */
.Sent::after {
  content: "";
  clear: both;
  display: table;
}
/* bottom container */
.bottom-container {
  text-align: center;
  background-color: #666;
  border-radius: 0px 0px 4px 4px;
}
